<div class="hero-unit">
  <h1>Lo sentimos</h1>
  <p>La página que estas buscando no se encuentra disponible, puedes regresar a la pagina de inicio presionando el siguiente boton</p>
  <p>
    <a class="btn btn-primary btn-large" href="/">
      Ir al inicio
    </a>
  </p>
</div>